/* Font family importing from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #424242;
}

.color {
    color: #424242;
}

.banner {
    text-align: center;
    width: 800px;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-text {
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.team {
    margin: 80px 240px;
    display: flex;
    align-items: center;
}

.team-pic {
    display: flex;
    margin-right: 50px;
}

.image-style {
    margin: 10px;
}

.span {
    color: #FF900E;
}

.text-heading {
    font-size: 3rem;
    font-weight: 500;
}

.features-box {
    margin: 50px 240px;
    display: flex;
}

.features {
    width: 50%;
    margin-right: 80px;
}

.features-heading {
    padding-left: 7px;
    border-left: 3px solid #FF900E;
}

.cart {
    padding: 15px;
    margin-bottom: 17px;
    box-shadow:
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(114, 111, 111, 0.774);
}

.cart h4 {
    margin: 0px;
    margin-left: 8px;
}

.cart p {
    margin: 8px;
}

.experience {
    width: 90%;
    background-image: url("../images/architect.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 150px;
}

.experience-box {
    width: 320px;
    height: 180px;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.experience-box h1{
    margin: 0px;

}
.experience-box p{
    margin: 5px;
}